/*Fullscreen video*/

#overlay {
    display: none;
}

#overlay_rating img {
    width: 1.5em;
}

#overlay_volume {
    display: none;
    z-index: 10;
}

#overlay_volume_text {
    height: 2em;
    top:40%;
    font-size: 5em;
    background-color: rgba(221, 221, 221, 0.3);
    border-radius: 0.2em;
}

.overlay_volume_up {
    background-image: url(../../img/volume_up.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_volume_down {
    background-image: url(../../img/volume_down.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_volume_mute {
    background-image: url(../../img/volume_off.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_giphy {
    background-image: url(../../img/giphy_logo.png);
    background-size: 0.4em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

#bottom_overlay {
    font-size: 1.5em;
    background-color: rgba(221, 221, 221, 0.3);
}

.full_screen_video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: 100%; height: auto; z-index: -100;
    background-color: black;
}

#myVideo {
    z-index: 10;
    height: 40%;
}

#myVideo::-webkit-media-controls-panel {
    display:none;
}

#overlay_artist { font-weight: bold; }
#overlay_song_name { font-size: 0.7em; }
#overlay_album { font-size: 0.6em; }

