@import '../lib/_lib.css';

/* Mobile layout */

html, body {
    width: 98%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:1.2;
    font-size: 16px;
}


header, footer {
    width: auto;
    font-size: 120%;
    /*margin: 0.1%;*/
    border-radius: 6px;
    padding: 1em 1em;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    display:block;
}

main {
    font-size: 120%;
    display:flex;
    height:  80%;
    width: 100%;
    align-items: center;
}

/*Κεντρικό box*/
section {
    font-size: 120%;
    padding: 0;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    display: block;
    width: auto;
    height: 50%;
    margin-bottom: 1%;
}

aside {
    font-size: 120%;
    padding: 0;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    display: block;
    width: auto;
    margin-bottom: 1%;
}

/*Nav menu*/
nav {
    position: relative;
    width: 95%;
    padding-top: 1em;
    padding-bottom: 1em;

    display:block;
    font-size: 0.8em;
    margin-bottom: 1em;
}

